.navelement{
    display: block;
    padding: 10px;
    background-color: gray;
    color: white;
    transition-duration: 0.7s;
    text-align: center;
    width: 100px;
    

}

.navelement:hover{
    background-color: lightsteelblue;
    color: blue;
    cursor: pointer;
    transform:translateX(20px)
    
}